.homebase-container {
    margin-top: -2rem;
    
    img {
        object-fit: cover;
        width: 100%;
    }
    
}


/* .homebase-container {
    height: 17.8%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
} */
/* .homebase-parent {
    width: 100%;
    height: 100%;
    max-width: 1920px;
} */

/* .homebase-parent img {
    max-width: 100%;
    height: 130px;
} */


/* @media only screen and (max-width: 1110px) {
    .homebase-parent {
        display: flex;
        align-items: flex-end;
    }
} */