.therapyFormContainerCover {
  // background-color:  #fcfcfc;
  // height: 100vh;
  // overflow: auto;
  // padding: 3rem;
  // overflow: hidden;
}

.therapyFormContainer {
  margin-top: 0.7rem;
  // height: 100vh;
  // display: flex;
  // flex-direction: column;

  //  outline: 3px solid salmon;

  .therapyFormContainerTitle {
    text-align: center;
    h1 {
      font-size: 2rem;
      font-weight: 600;
    }
    p {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .therapyForm1Container {
    // outline: 3px solid green;
    display: flex;
    padding: 1rem;
    justify-content: center;
    margin-bottom: 5rem;

    .optionSelect {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.5rem;
    }

    .therapyFormInputText {
      display: flex;
      justify-content: space-between;
      // align-items: center;
      // background-color: chartreuse;
      border: 2px solid #0e0b8b;
      // height: 54px;
      // width: 294px;
      // padding: 20px;
      padding: 0.2rem 0.5rem;
      border-radius: 1rem;
      margin-bottom: 1rem;

      input[type="input"] {
        // width: 250px;
        // height: 48px;
        padding-left: 0.5rem;
        font-size: 0.9rem;
        outline: none;
        border: none;
        background: transparent;
      }
    }

    .therapyForm1Cover {
      background: #ffff;
      padding: 2rem;
      border: 2px solid #0e0b8b;
      border-radius: 2rem;
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
      width: 50%;

      .therapyForm1Fields {
        // outline: 3px solid green;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        h2 {
          font-size: 1rem;
        }

        .therapyForm1Field {
          // outline: 3px solid green;
          h4 {
            font-size: 0.9rem;
          }
        }
      }
    }

    .therapyNotesContainer {
      // outline: 3px solid green;
      display: flex;
      flex-direction: column;
      width: 75%;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      padding: 1rem;

      .therapyButton02 {
        // outline: 3px solid green;
        // padding: 3em;
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin: auto;
        margin-top: 5rem;

        button {
          //  width: 50%;
          background-color: #0e0b8b;
          //  padding: .5rem 1rem;
          padding: 0.5rem 3rem;
          border-radius: 0.5rem;
          color: #ffff;
          font-size: 1.2rem;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }

      .therapyNotesVoicenote {
        // background-color:  #fcfcfc;

        // outline: 3px solid saddlebrown;
        width: 100%;
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 1.2rem;
          text-align: center;
        }

        .therapyNotesVoicenoteMain {
          border: 2px solid #0e0b8b;
          height: 20rem;
          border-radius: 1rem;
          display: flex;
          justify-content: center;
          align-items: flex-end;

          .therapyNotesVoicenoteMicrophone {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0e0b8b;
            padding: 1rem;

            img {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              // aspect-ratio: 1/1;
            }
          }
        }
      }

      .therapyNotesDivider {
        margin-top: 2rem;
        h1 {
          text-align: center;
        }
      }

      .therapyNotesTextarea {
        width: 100%;
        // outline: 3px solid slateblue;
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 1.2rem;
          text-align: center;
        }
      }

      .therapyNotesTextareaPart {
        border: 2px solid #0e0b8b;
        // height: 319px;
        border-radius: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        textarea {
          outline: none;
          width: 100%;
          height: 20rem;
          background-color: transparent;
          border: none;
          resize: none;
          font-size: 1rem;
        }
      }
    }
  }
  .formContainer1 {
    // outline: 3px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    gap: 2rem;
    margin: auto;
    width: 80%;
  }

  .therapyForm1RadioGroups {
    display: flex;
    flex-direction: column;
    // outline: 3px solid chartreuse;
    justify-content: space-between;
    gap: 2rem;

    h2 {
      font-size: 1.2rem;
    }

    .therapyForm1RadioGroups1 {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      // justify-content: space-between;
      width: fit-content;
      // padding: 0 30px;
      // margin-bottom: 75px;
      // margin-top: 20px;
      // background-color: crimson;
    }

    .therapyForm1RadioGroups2 {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      width: fit-content;
      // justify-content: space-between;
      // padding: 0 30px;
      // margin-bottom: 75px;
      // background-color: crimson;
      // margin-top: 40px;
    }
    .therapyForm1RadioGroups3 {
      display: flex;
      flex-direction: row;
      // outline: 3px solid firebrick;
      justify-content: flex-start;
      gap: 3rem;
      // padding: 0 30px;
      // margin-bottom: 75px;
      // background-color: crimson;
      // margin-top: 55px;
      // background-color: coral;
      // justify-content: space-between;
      // width: 620px;

      .therapyFormInputText {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        // align-items: center;
        // background-color: chartreuse;
        border: 2px solid #0e0b8b;
        // height: 54px;
        // width: 294px;
        // padding: 20px;
        padding: 0.4rem;
        border-radius: 1rem;

        input[type="input"] {
          // width: 250px;
          // height: 48px;
          font-size: 0.9rem;
          outline: none;
          border: none;
          background: transparent;
        }
      }
    }
    .therapyForm1RadioGroups4 {
      display: flex;
      flex-direction: row;
      gap: 3rem;
    }
    .therapyForm1RadioGroups5 {
      display: flex;
      flex-direction: row;
      gap: 3rem;
    }
  }

  .therapyForm1Headers {
    border-right: 2px solid #5a5757;
    display: flex;
    padding: 0 2rem;
    flex-direction: column;
    gap: 7rem;

    h2 {
      font-size: 2rem;
    }
  }

  .therapyColumns {
    display: flex;
    flex-direction: column;
    // margin-right: 100px;
    justify-content: center;
    align-items: center;

    h2 {
      // color: purple;
      font-size: 1.1rem;
      font-weight: 400;
    }
    span {
      font-size: 1.1rem;
      // font-weight: 500.5;
    }

    input[type="radio"] {
      width: 2.5em;
      height: 2.5em;
      accent-color: black;
    }
  }

  .therapyButton {
    //  outline: 3px solid crimson;
    margin: auto !important ;
    width: 100%;
    display: flex;
    justify-content: center;
    button {
      width: 100%;
      background-color: #0e0b8b;
      padding: 0.5rem 3rem;
      border-radius: 0.5rem;
      color: #ffff;
      font-size: 1.2rem;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  .therapyForm1RadioGroups02 {
    display: flex;
    flex-direction: column;
    // outline: 3px solid chartreuse;
    justify-content: space-between;
    gap: 2rem;

    h2 {
      font-size: 1.2rem;
    }

    .therapyForm1RadioGroups01 {
      display: flex;
      flex-direction: row;
      gap: 3rem;
    }

    .therapyForm1RadioGroups002 {
      display: flex;
      flex-direction: row;
      gap: 3rem;
    }
    .therapyForm1RadioGroups03 {
      display: flex;
      flex-direction: row;
      gap: 3rem;

      .therapyFormInputText {
        display: flex;
        flex-direction: row;

        align-items: center;

        border: 2px solid #0e0b8b;
      }
    }
    .therapyForm1RadioGroups04 {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      // padding: 0 30px;
      // margin-bottom: 75px;
      // margin-top: 100px;
      // background-color: crimson;
    }
    .therapyForm1RadioGroups05 {
      display: flex;
      flex-direction: row;
      gap: 3rem;
    }
  }

  .therapyForm2Container {
    display: flex;
    flex-direction: row;
  }

  .therapyButton01 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    button {
      background-color: #0e0b8b;
      padding: 0.5rem 3rem;
      border-radius: 0.5rem;
      color: #ffff;
      font-size: 1.2rem;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  .therapyForm3Container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 2rem;
    margin-top: 2rem;
    // outline: 3px solid blueviolet;
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .therapyNotesTextarea,
  .therapyNotesVoicenote {
    h1 {
      // color: crimson !important;
      // font-size: .2rem !important;
    }
  }

  .therapyFormContainerTitle {
    h1 {
      font-size: 1.5rem !important;
    }
    p {
      font-size: 0.85rem !important;
    }
  }

  .therapyNotesContainer {
    width: 80% !important;
  }

  .therapyNotesTextarea {
    h1 {
      font-size: 1.15rem !important;
    }
  }

  .therapyNotesVoicenote {
    h1 {
      font-size: 1.15rem !important;
    }
  }

  .therapyNotesDivider {
    h1 {
      font-size: 1.5rem !important;
      font-weight: 600;
    }
  }

  .therapyButton02 {
    button {
      font-size: 1rem !important;
    }
  }

  .therapyButton01 {
    button {
      font-size: 1rem !important;
    }
  }

  .therapyForm1Headers {
    h2 {
      font-size: 1.5rem !important;
    }
  }

  .therapyColumns {
    h2 {
      // color: purple;
      font-size: 1rem !important;
    }

    input[type="radio"] {
      width: 2em !important;
      height: 2em !important;
    }
  }

  .therapyButton {
    button {
      font-size: 1rem !important;
    }
  }

  .formContainer1 {
    // outline: 3px solid firebrick;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 90% !important;
    margin: auto !important;
  }

  .therapyColumns {
    span {
      font-size: 0.9rem !important;
    }
  }

  .therapyForm1Container {
    // outline: 3px solid purple;
    // width: 90% !important;
  }

  .therapyFormContainerCover {
    height: 100vh !important;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 600px) {
  .errorHolder {
    font-size: 0.8rem !important;
  }

  .therapyNotesTextareaPart {
    textarea {
      height: 25rem !important;
      font-size: 0.8rem !important;
    }
  }

  .therapyNotesDivider {
    margin-top: 2rem;
    h1 {
      font-size: 0.9rem !important;
      text-align: center;
    }
  }

  .therapyForm1Container {
    padding: 0.5rem !important;
  }

  .therapyFormContainerCover {
    // height: 100vh !important;
    // overflow-y: auto;
    // padding: 3rem;
  }

  .therapyFormContainerTitle {
    h1 {
      font-size: 1.1rem !important;
    }
    p {
      font-size: 0.7rem !important;
    }
  }

  .therapyForm1Cover {
    width: 100% !important;
    padding: 1rem !important;
  }

  .therapyForm1Fields {
    h2 {
      font-size: 0.8rem !important;
    }

    .therapyForm1Field {
      // outline: 3px solid green;
      h4 {
        // font-size: .65rem !important;
      }
    }
  }

  .therapyButton01 {
    button {
      padding: 0.5rem 1rem !important;
      font-size: 0.8rem !important;
    }
  }

  .therapyButton {
    //  outline: 3px solid crimson;
    button {
      font-size: 0.8rem !important;
    }
  }

  .therapyNotesContainer {
    // outline: 3px solid green;
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }

  .therapyNotesTextarea,
  .therapyNotesVoicenote {
    h1 {
      // color: crimson !important;
      font-size: 0.8rem !important;
    }
  }

  .therapyButton02 {
    // outline: 3px solid green;
    // padding: 3em;
    width: 100% !important;
    margin-top: 5rem;

    button {
      //  width: 50%;
      background-color: #0e0b8b;
      //  padding: .5rem 1rem;
      padding: 0.5rem 1rem !important;
      font-size: 0.8rem !important;
    }
  }
}
