.centralContainer {
  margin-top: 10px;
  background-color: #fcfcfc;
  width: 90%;
  padding: 1rem;
}

.centralContainer .centralContainerCover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centralContainer .centralContainerVideoHolder {
  height: 25rem;
  width: 90%;
  position: relative;
  border-radius: 10px;
  margin-top: 2em;
}

.centralContainer .centralContainerVideoHolder img {
  width: 100%;
  height: 100%;
}

.centralContainer .centralContainerVideoHolder .videoCta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.centralContainer .centralContainerServices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8rem;
  width: 90%;
}

.centralContainer .centralContainerServices h1 {
  color: #0e0b8b;
  font-weight: 500;
  font-size: 1.5rem;
}

.centralContainer .centralContainerServices .centralContainerServicesMain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1.5rem;
  width: 100%;
}

.centralContainer .centralContainerServices .centralContainerServicesMain .centralContainerServicesCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.centralContainer .centralContainerServices .centralContainerServicesMain .centralContainerServicesCard img {
  padding: 1.5rem;
  border-radius: 2rem;
  width: 15rem;
  aspect-ratio: 5/5;
  -o-object-fit: cover;
     object-fit: cover;
}

.centralContainer .centralContainerServices .centralContainerServicesMain .centralContainerServicesCard h2 {
  font-size: 1.2rem;
}

.centralContainer .centralContainerTrending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 7rem;
  width: 90%;
  padding-bottom: 7rem;
}

.centralContainer .centralContainerTrending h1 {
  color: #0e0b8b;
  font-size: 1.5rem;
  font-weight: 500;
}

.centralContainer .centralContainerTrending h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.centralContainer .centralContainerTrending p {
  font-size: .9rem;
}

.centralContainer .centralContainerTrending button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3rem;
  border: 3px solid #0e0b8b;
  background-color: #fcfcfc;
  padding: .5rem 2rem;
  color: #0e0b8b;
  outline: none;
  cursor: pointer;
}

.centralContainer .centralContainerTrending .centralContainerTrendingMain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[2];
      grid-template-columns: repeat(2, 2fr);
  grid-gap: 5rem;
}

.centralContainer .centralContainerTrending .centralContainerTrendingMain .centralContainerTrendingCard {
  position: relative;
  width: 100%;
}

.centralContainer .centralContainerTrending .centralContainerTrendingMain .centralContainerTrendingCard img {
  width: 100%;
  height: auto;
}

.centralContainer .centralContainerTrending .centralContainerTrendingMain .centralContainerTrendingCard h2 {
  margin-top: 1rem;
}

.centralContainer .centralContainerTrendingCardDesc {
  position: absolute;
  top: 5%;
  left: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .5em 1rem;
  border-radius: 1.5em;
  color: black;
  background-color: rgba(252, 252, 252, 0.486);
}

.centralContainer .centralContainerTrendingCardDesc p {
  font-size: .7rem;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .centralContainer {
    width: 65% !important;
  }
  .centralContainerServices h1 {
    color: #0e0b8b;
    font-weight: 500;
    font-size: 1.2rem !important;
  }
  .centralContainerTrending h1 {
    font-size: 1.2rem !important;
  }
  .centralContainerTrending h2 {
    font-size: 1rem !important;
  }
  .centralContainerTrending p {
    font-size: .75rem !important;
  }
  .centralContainerTrending button {
    padding: .4em 1em !important;
    font-size: .9rem !important;
  }
  .centralContainerTrendingcardDesc p {
    font-size: .6rem !important;
  }
  .centralContainerServicesMain {
    overflow-x: scroll !important;
  }
}

@media screen and (max-width: 600px) {
  .centralContainer {
    margin-top: 6px;
    width: 100% !important;
  }
  .centralContainer .centralContainerVideoHolder {
    height: 15rem;
  }
  .centralContainer .centralContainerVideoHolder .videoCta {
    font-size: 4rem !important;
  }
  .centralContainer .centralContainerServices {
    margin-top: 4rem;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .centralContainer .centralContainerServices h1 {
    text-align: center;
    font-size: .95rem !important;
  }
  .centralContainer .centralContainerServices .centralContainerServicesMain {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    overflow-x: none !important;
    padding: 0rem !important;
  }
  .centralContainer .centralContainerServices .centralContainerServicesMain .centralContainerServicesCard img {
    width: 13rem !important;
  }
  .centralContainer .centralContainerServices .centralContainerServicesMain .centralContainerServicesCard h2 {
    margin-top: 1rem;
    text-align: center;
    font-size: .85rem !important;
  }
  .centralContainer .centralContainerTrending {
    margin-top: 1rem;
    width: 90%;
    padding-bottom: 4rem;
  }
  .centralContainer .centralContainerTrending h1 {
    font-size: 1rem !important;
    text-align: center;
  }
  .centralContainer .centralContainerTrending h2 {
    font-size: 1rem !important;
    font-weight: 500;
  }
  .centralContainer .centralContainerTrending p {
    font-size: .9rem;
  }
  .centralContainer .centralContainerTrending button {
    font-size: .85rem  !important;
  }
  .centralContainer .centralContainerTrending .centralContainerTrendingMain {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
}
/*# sourceMappingURL=main.module.css.map */