.therapyContainer {
  z-index: 1000;
  margin-top: -0.1rem;
  // padding-top: 5rem;
  outline: 10px solid white;
  border: 10px solid white;
  padding-top: 8rem;
  // padding-bottom: 1rem;
  z-index: 1000;

  .therapyMainpart {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80%;
    // outline: 3px solid firebrick;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .therapyDesc {
      // outline: 3px solid salmon;
      width: 50%;

      h1 {
        color: #0e0b8b;
        font-weight: 600;
        font-size: 3rem;
      }

      p {
        // outline: 3px solid #0e0b8b;
        font-size: 1.1rem;
        line-height: 2.2rem;
        font-weight: 410;
        width: 80%;
      }

      span {
        font-weight: 600;
        color: #0e0b8b;
        font-size: 1.1rem;

        img {
          margin-left: 1rem;
        }
      }
    }

    .therapyImg {
      width: 50%;
      transform: scale(0.8);
      display: flex;
      flex-direction: column;

      .imageBase {
        top: 2.5rem;
        right: 2.8rem;
        position: relative;
        width: 100%;
        object-fit: cover;
      }
      .imageMain {
        position: absolute;
        z-index: 1;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .therapyMainpart {
    // outline: 3px solid firebrick;

    .therapyDesc {
      h1 {
        font-size: 2rem !important;
      }

      p {
        // outline: 3px solid yellow;
        font-size: 1rem !important;
        width: 100% !important;
        line-height: 1.8rem !important;
      }

      span {
        font-size: 0.9rem !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 600px) {
  .therapyContainer {
    padding-top: 2rem !important;

    .therapyMainpart {
      flex-direction: column;
      width: 90%;
      gap: 1rem !important;

      .therapyDesc {
        // outline: 3px solid salmon;
        width: 100%;
        h1 {
          font-size: 1.5rem !important;
          text-align: center;
        }

        p {
          // outline: 3px solid #0e0b8b;
          font-size: 0.9rem !important;
          width: 100% !important;
        }

        span {
          font-size: 0.9rem !important;

          img {
            margin-left: 1rem;
          }
        }
      }

      .therapyImg {
        width: 80%;
        // outline: 3px solid salmon;

        .imageBase {
          top: 0;
          right: 1.5rem;
          position: relative;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
