.rightMainCover {
  margin: auto;
  width: 25%;
  margin-top: 1rem;
}

.rightMainCover .rightMainContainer {
  margin-top: 4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffff;
  height: 90rem;
}

.rightMainCover .rightMainContainer .rightMainSvg {
  margin-top: 6.5em;
}

.rightMainCover .rightMainContainer .rightMainSvg img {
  width: 100%;
}

.rightMainCover .rightButtonCover {
  margin-top: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0e0b8b;
  width: 80%;
  min-width: 14rem;
  padding: .5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

.rightMainCover .rightButtonCover .rightButtonMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rightMainCover .rightButtonCover .rightButtonMain .rightButtonMainIcon {
  font-size: 2rem;
}

.rightMainCover .rightButtonCover .rightButtonMain p {
  color: #ffff;
  font-size: 1rem;
  margin: auto;
  margin-left: 1.2rem;
}

.rightCalendar {
  margin-top: 6rem;
  width: 100%;
}

.rightAppointment {
  margin-top: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
}

.rightAppointment h2 {
  font-size: 1rem;
  font-weight: 520;
  color: #0e0b8b;
  text-align: center;
}

.rightAppointment .emptyMsg {
  margin-top: 1.5rem;
}

.rightAppointment .emptyMsg .emptyMsgSpan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .8rem;
  color: gray;
  width: 100%;
}

.rightAppointment .rightMenuCover {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20rem;
  overflow: auto;
  padding: .5rem;
  width: 100%;
}

.rightAppointment .rightMenu1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffff;
  width: 100%;
  padding: .5rem 2rem;
  border-radius: 1rem;
  background-color: #00BCD7;
  margin-bottom: 1.5rem;
}

.rightAppointment .rightMenu1 h3 {
  color: #ffff;
  font-size: 1rem;
  text-align: center;
}

.rightAppointment .rightMenu1 p {
  text-align: center;
  font-size: .8rem;
}

.rightAppointment .rightMenu2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffff;
  width: 100%;
  padding: .5em 2em;
  border-radius: 1em;
  background-color: #FFC107;
  margin-bottom: 1.5rem;
}

.rightAppointment .rightMenu2 h3 {
  color: #ffff;
  font-size: 1rem;
}

.rightAppointment .rightMenu2 p {
  font-size: .8rem;
}

.calendarImg {
  position: absolute;
  top: 5.7rem;
  left: 2rem;
}

@media screen and (max-width: 1024px) {
  .right-main-cover {
    width: 30% !important;
  }
  .rightAppointment h2 {
    font-size: 1rem !important;
  }
  .rightMenu1 h3 {
    font-size: .9rem !important;
  }
  .rightMenu1 p {
    font-size: .7rem !important;
  }
  .rightMenu2 h3 {
    font-size: .9rem !important;
  }
  .rightMenu2 p {
    font-size: .7rem !important;
  }
  .rightButtonMain p {
    color: #ffff;
    font-size: .85rem !important;
    margin: auto;
  }
  .calendarImg {
    left: 0% !important;
    top: 25% !important;
  }
}

@media screen and (max-width: 600px) {
  .emptyMsg {
    margin-top: 1rem !important;
  }
  .emptyMsg .emptyMsgSpan {
    font-size: .7rem !important;
  }
  .rightMainCover {
    margin-top: -2rem;
    width: 90%;
  }
  .rightMainCover .rightMainContainer {
    margin-top: 0rem;
    height: auto !important;
  }
  .rightMainCover .rightMainContainer .rightMainSvg {
    margin-top: 0rem;
  }
  .rightMainCover .rightMainContainer .rightButtonCover {
    min-width: -webkit-fit-content !important;
    min-width: -moz-fit-content !important;
    min-width: fit-content !important;
  }
  .rightMainCover .rightMainContainer .rightButtonCover .rightButtonMain .rightButtonMainIcon {
    font-size: 1.5rem;
  }
  .rightMainCover .rightMainContainer .rightButtonCover .rightButtonMain p {
    font-size: .9rem !important;
  }
  .rightMainCover .rightCalendar {
    margin-top: 2rem;
  }
  .rightMainCover .calendarImg {
    top: 1.8rem !important;
    left: 1rem !important;
  }
  .rightMainCover .rightAppointment {
    margin-top: 17rem;
    padding-bottom: 4rem;
    width: 100% !important;
  }
  .rightMainCover .rightAppointment h2 {
    font-size: 1rem !important;
  }
  .rightMainCover .rightAppointment .rightMenuCover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 20rem;
    overflow: auto;
    padding: .5rem;
    width: 100% !important;
  }
}
/*# sourceMappingURL=right.module.css.map */