.rightMainCover {
  // display: flex;
  margin: auto;
  width: 25%;

  // background-color: #fcfcfc;

  margin-top: 1rem;
  .rightMainContainer {
    margin-top: 4rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    background-color: #ffff;
    height: 90rem;

    .rightMainSvg {
      // outline: 3px solid black;
      margin-top: 6.5em;
      img {
        width: 100%;
        // outline: 3px solid blue;
      }
    }
  }

  .rightButtonCover {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0b8b;
    // outline: 3px solid salmon;
    width: 80%;
    min-width: 14rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;

    .rightButtonMain {
      display: flex;
      flex-direction: row;
      align-items: center;


      .rightButtonMainIcon {
        font-size: 2rem;
      }
      p {
        color: #ffff;
        font-size: 1rem;
        margin: auto;
        margin-left: 1.2rem;
      }
    }
  }
}

.rightCalendar {
  margin-top: 6rem;
  width: 100%;
}

.rightAppointment {
  margin-top: 16rem;
  display: flex;
  flex-direction: column; 
  width: 75%;


  h2 {
    font-size: 1rem;
    font-weight: 520;
    color: #0e0b8b;
    text-align: center;
  }

  .emptyMsg {
    margin-top: 1.5rem;
    //  outline: 3px solid red;
    display: flex;

    .emptyMsgSpan {
      display: flex;
      // outline: 3px solid red;
      font-size: 0.8rem;
      color: gray;
      width: 100%;
    }
  }

  .rightMenuCover {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    // gap: 1.5rem;
    height: 20rem;
    overflow: auto;
    // outline: 3px solid magenta;
    padding: 0.5rem;
    width: 100%;
  }

  .rightMenu1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffff;
    width: 100%;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    background-color: #00bcd7;
    margin-bottom: 1.5rem;

    h3 {
      color: #ffff;
      font-size: 1rem;
      text-align: center;
    }

    p {
      text-align: center;
      font-size: 0.8rem;
    }
  }
  .rightMenu2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffff;
    width: 100%;
    padding: 0.5em 2em;
    border-radius: 1em;
    background-color: #ffc107;
    margin-bottom: 1.5rem;
    h3 {
      color: #ffff;
      font-size: 1rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
}

.calendarImg {
  // display: none !important;
  position: absolute;
  top: 5.7rem;
  left: 2rem;
  // transform: translate(-400%, -310%);
  // -ms-transform: translate(-400%, -310%);
}

@media screen and (max-width: 1024px) {
  .right-main-cover {
    width: 30% !important;
  }

  .rightAppointment {
    h2 {
      font-size: 1rem !important;
    }
  }

  .rightMenu1 {
    h3 {
      font-size: 0.9rem !important;
    }

    p {
      font-size: 0.7rem !important;
    }
  }
  .rightMenu2 {
    h3 {
      font-size: 0.9rem !important;
    }

    p {
      font-size: 0.7rem !important;
    }
  }

  .rightButtonMain {
    p {
      color: #ffff;
      font-size: 0.85rem !important;
      margin: auto;
    }
  }

  .calendarImg {
    left: 0% !important;
    top: 25% !important;
  }
}


@media screen and (max-width: 768px) {}

@media screen and (max-width: 600px) {
  .emptyMsg {
    margin-top: 1rem !important;
    //  outline: 3px solid red;
    display: flex;
    align-items: center;
    justify-content: center;

    .emptyMsgSpan {
      // outline: 3px solid red;
      font-size: 0.7rem !important;
    }
  }

  .rightMainCover {
    margin-top: -2rem;
    // outline: 3px solid crimson;
    width: 90%;

    .rightMainContainer {
      margin-top: 0rem;
      height: auto !important;

      .rightMainSvg {
        // outline: 3px solid black;
        margin-top: 0rem;
      }
      .rightButtonCover {
        min-width: fit-content !important;
        .rightButtonMain {
          .rightButtonMainIcon {
            font-size: 1.5rem;
          }

          p {
            font-size: 0.9rem !important;
          }
        }
      }
    }
    .rightCalendar {
      margin-top: 2rem;
    }

    .calendarImg {
      // position: absolute;
      top: 1.8rem !important;
      left: 1rem !important;
    }

    .rightAppointment {
      margin-top: 12rem;
      // outline: 3px solid goldenrod;
      padding-bottom: 4rem;
      width: 100% !important;
      h2 {
        font-size: 1rem !important;
      }

      .rightMenuCover {
        display: flex;
        flex-direction: column;
        // gap: 1.5rem;
        height: 20rem;
        overflow: auto;
        // outline: 3px solid magenta;
        padding: 0.5rem;
        width: 100% !important;
      }
    }
  }
}
