.rightMainCover {
  // display: flex;
  margin: auto;
  // align-items: flex-end;
  // justify-content: flex-end;
  width: 25%;


  // background-color: #fcfcfc;
  
  margin-top: 1rem;
  .rightMainContainer {
    margin-top: 4rem;
    width: 100%;
   

    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    background-color: #ffff;
    height: 90rem;
   

    .rightMainSvg {
      // outline: 3px solid black;
       margin-top: 6.5em;
       img {
        width: 100%;
        // outline: 3px solid blue;
       }
    }
  }

  .rightButtonCover {
    margin-top: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0b8b;
    // outline: 3px solid salmon;
    width: 80%;
    // width: 330px;
    // height: 50px;
    min-width: 14rem;
    padding: .5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;

    .rightButtonMain {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.3rem;
      // justify-content: space-between;
      // width: 220px;
       p{
        color: #ffff;
        font-size: 1rem;
        margin: auto;
       }
      
    }
  }
}

.rightCalendar{
  margin-top: 6rem;
  width: 100%;
 
}

.rightAppointment {
  margin-top: 14rem;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  width: 75%;
  gap: 1.5rem;
  // outline:  3px solid magenta;

  h2 {
    font-size: 1.2rem;
    font-weight: 520;
    color: #0e0b8b;
    text-align: center;
  }

  .rightMenuCover {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 20rem;
    overflow: auto;
    // outline: 3px solid magenta;
    padding: .5rem;
    width: 100%;
  }


  .rightMenu1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffff;
    width: 100%;
    padding: .5em 2em;
    border-radius: 1em;
    background-color: #00BCD7;
    // margin-top: 20px;

    h3 {
      color: #ffff;
      font-size: 1rem;
    }

    p {
      font-size: .8rem;
    }
  }
  .rightMenu2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffff;
    width: 100%;
    padding: .5em 2em;
    border-radius: 1em;
    background-color: #FFC107;
    h3 {
      color: #ffff;
      font-size: 1rem;
    }
    p {
      font-size: .8rem;
    }
  }

}


.calendarImg {
// display: none !important;
position: absolute;
top: 5.7rem;
left: 2rem;
// transform: translate(-400%, -310%);
// -ms-transform: translate(-400%, -310%);
}


@media screen and (max-width: 1024px)  {
  .right-main-cover {
    width: 30% !important;
  }


  .rightAppointment {
    h2 {
      font-size: 1rem !important;
    }
  }

  .rightMenu1 {
  
    h3 {
     
      font-size: .9rem !important;
    }

    p {
      font-size: .7rem !important;
    }
  }
  .rightMenu2 {
   
    h3 {
     
      font-size: .9rem !important;
    }

    p {
      font-size: .7rem !important;
    }
  }

  .rightButtonMain {
   
     p{
      color: #ffff;
      font-size: .85rem !important;
      margin: auto;
     }
    
  }

  .calendarImg {
    left: 0% !important;
    top: 25% !important;
    }
}


@media screen and (max-width: 600px) {
  .rightMainCover {
    margin-top: -2rem;
    // outline: 3px solid crimson;
    width: 90%;

    .rightMainContainer {
      margin-top: 0rem;
      height: auto !important;

      .rightMainSvg {
        // outline: 3px solid black;
         margin-top: 0rem;
      }
       .rightButtonCover {
        min-width: fit-content !important;
        .rightButtonMain {
           p{
            font-size: 1.05rem !important;
           }
        }
       }
    }
    .rightCalendar{
      margin-top: 2rem;
    }


    .calendarImg {
      // position: absolute;
      top: 1.8rem !important;
      left: 1rem !important;
      }

      .rightAppointment {
        margin-top: 10rem;
        // outline: 3px solid goldenrod;
        padding-bottom: 4rem;

        h2 {
          font-size: 1rem !important;
        }
      

        .rightMenuCover {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          height: 20rem;
          overflow: auto;
          // outline: 3px solid magenta;
          padding: .5rem;
        }
      }
  }
}