
.shareContainer {
    // padding-top: 1rem;
    margin-top: -3rem;
    // outline: 3px solid green !important;
    padding-top: 8rem;
    padding-bottom: 5rem;
    z-index: 1000;

    .shareMainpart {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 80%;
        // outline: 3px solid firebrick;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .shareDesc {
            // outline: 3px solid salmon;
            width: 50%;

            h1 {
                color: #0e0b8b;
                font-weight: 600;
                font-size: 3rem;
            }

            p {
                // outline: 3px solid #0e0b8b;
                font-size: 1.1rem;
                line-height: 2.2rem;
                font-weight: 410;
                width: 75%;
            }

            span {
                font-weight: 600;
                color: #0e0b8b;
                font-size: 1.1rem;
                
                img {
                   margin-left: 1rem;
                }
                
            }
        }

        .shareImg {
           width: 50%;
            transform: scale(0.8);
            display: flex;
            flex-direction: column;

            .imageBase {
                top: 2.5rem;
                // right: 2.8rem;
                position: relative;
                width: 100%;
                object-fit: cover;

            }
            .imageMain {
                position: absolute;
                z-index: 1;
                width: 100%;
                object-fit: cover;
            }
        }

    }
}


@media screen and (max-width: 1024px)  {
    .shareMainpart {
        // outline: 3px solid firebrick;

        .shareDesc {
            h1 {
                font-size: 2rem !important;
            }

            p {
                // outline: 3px solid yellow;
                font-size: 1rem !important;
                width: 100% !important;
                line-height: 1.8rem !important;
            
            }

            span {
                        
                font-size: 0.9rem !important;
                
             
            }
        }
    }
}




























.share-session {
    display: flex;
    height: 90vh;
}
.share-img {
    margin-top: -100px;
    margin-right: 90px;
    transform: scale(0.8);
    display: flex;
    flex-direction: column;
  }
.share-img .share-1 {
    top: -60px;
    left: 20px;
    position: absolute;
    z-index: 1;
}
.speak-img .share-11 {
    position: relative;
}
.share {
    width: 500px;
}
.share h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 50px;
    color: var(--blue-color);
  }
.share p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 12px 0;
}