.shareStoryContainer {
  
  padding: 2rem;
  // height: 80vh;
  // width: 100%;
  // background-color: coral;

  .shareStoryTitle {
    h1 {
      text-align: center;
      font-weight: 600;
      font-size: 2.1rem;
    }
    p {
      text-align: center;
      // margin-top: -20px;
      font-weight: 500;
      font-size: 1rem;
    }
  }

  .shareStoryForm {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    gap: 2rem;
    // width: 70%;
    // margin-top: 100px;
    // width: 70%;
    // outline: 3px solid firebrick;
    // padding: 4em;


    .shareStoryInputCover {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 80%;

      label {
        font-size: 1.1rem;
        font-weight: bold;
      }

      input {
        padding: .8rem;
        font-size: 1rem;
        border: 2px solid #0e0b8b;
        border-radius: 1rem;
        outline: none;
        background: transparent;
      }
    }

    .button1 {
      // margin-top: 130px;
      margin: auto;
      width: fit-content;
      background-color: #0e0b8b;
      color: #ffff;
      border-radius: 2rem;
      padding: .8rem 1.5rem;
      outline: none;
      border: none; 
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background: rgba($color: #0e0b8b, $alpha: .6);
      }
      // margin-bottom: 200px;
    }
    

    .shareStoryMic {
      // margin-top: 42.5px;
      background-color: #0e0b8b;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4.5rem;
      width: 4.5rem;
      margin: auto !important;

      img {
        width: 4rem;
        aspect-ratio: 2/1;
      }
    }

    .shareStoryTextarea {
      // margin-top: 3rem !important;
      // display: flex;
      // flex-direction: column;
      // gap: 2rem;
      // justify-content: center;
      // align-items: center;
      // outline: 2px solid magenta;
      margin: auto;
      // padding: 1rem;
      width: 80%;
      // height: 50%;
      //  min-height: 500px;
      border: 2px solid #0e0b8b;
      border-radius: 1.2rem;


      textarea {
        // margin-top: 10px;
        // margin-left: 10px;
        // margin-right: -2em;
        // margin: auto;
        // flex: 1;
        background: transparent;
        // min-height: 30rem;
        width: 100%;
        height: 100%;
        padding: 1rem;
        border: none;
        outline: none;
        resize: none;
        // resize: none;
        font-size: 1.1rem;
      }
    }
  }
}



.shareStoryTop {
  // outline: 3px solid yellow;
  // width: 100%;
  margin: auto !important;
}

.sharestorymiccover {
  // outline:  3px solid firebrick;
  display: flex;
  justify-content: center;
  // align-items: center;
}

.textareaCover {
  // outline: 3px solid blueviolet;
  height: 15rem;
  padding: 1rem;
  width: 100%;
}


.modalContainer{
  // outline: 3px solid red;
  

  .modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    .prevTitle {
      // outline: 3px solid blue;
      width: 90%;
      h3 {
        font-size: 1rem;
        text-align: center;
        text-transform: capitalize;
      }
    }

    h1 {
      font-size: 1.2rem;
      text-align: center;
    }

    img {
      object-fit: cover;
      width: 50%;
      height: auto;
      // border: 3px solid seagreen;
      border-radius: 1.5rem;
    }

   

    p {
      // outline: 3px solid blueviolet;
      font-size: 0.9rem;
      width: 90%;
      overflow: auto;
      height: 20rem;
    }

    .button2 {
      background: #0e0b8b;
      color: #ffff;
      font-size: .9rem;
      padding: .5rem 1rem;
      width: fit-content;
      border: none;
      outline: none;
      
      &:hover {
        background: rgba($color: #0e0b8b, $alpha: .6);
      }
      
    }
  }
}


@media screen and (max-width: 1024px) {
  .shareStoryTop {
    // outline: 3px solid yellow;
    // width: 90% !important;
  }

  .shareStoryTitle {
    h1 {
      font-size: 1.6rem !important;
    }
    p {
      
      font-size: .8rem !important;
    }
  }

  .btnShare  { 
    font-size: 0.95rem;
    
  }

  .shareStoryContainer { 
    height: 80vh;
  }
}


@media screen and (max-width: 600px)  {
  .shareStoryContainer{
    padding: 1rem !important;
  }
  .shareStoryTitle {
    h1 {
      font-size: 1.2rem !important;
    }
    p {
      font-size: .7rem !important;
    }
  }

  .shareStoryInputCover {
    width: 90% !important;
    // outline: 3px solid brown;

    label {
      font-size: 0.9rem !important;
    }

    input {
      padding: .6rem !important;
      font-size: .85rem !important;
    }
  }

  .shareStoryTextarea {
    width: 90% !important;


    textarea {
    
      min-height: 0rem !important;
      padding: .1rem !important;
      font-size: .85rem !important;
    }
  
}

.textareaCover {
  // outline: 3px solid blueviolet;
  height:
  12rem;
}

.shareStoryMic {
  height: 3rem !important;
  width: 3rem !important;
  margin: auto !important;

  img {
    width: 3rem !important;
  }
}

.button1 {
 
  padding: .6rem 1.2rem !important;
  font-size: .8rem !important;
}


.modalContainer{
  // outline: 3px solid red;
  

  .modalContent {
   
    .prevTitle {
      // outline: 3px solid blue;
      h3 {
        font-size: .85rem !important;
      }
    }

    h1 {
      font-size: 0.95rem !important;
    }


   

    p {
      // outline: 3px solid blueviolet;
      font-size: 0.75rem;
      width: 100% !important;
      height: 18rem;
    }

    .button2 {
      font-size: .7rem !important;
      padding: .35rem 1rem !important;      
    }
  }
}
}


