.openMenuPart {
  background: #ffff;
  z-index: 1000;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 1rem;
  transition: 3s ease;

  .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .openMenuList {
    // outline: 3px solid crimson;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    // gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #0e0b8b;
    font-weight: bold;
    padding: 1rem;
    padding-bottom: 5rem;

    li {
      width: 80%;
      list-style: none;
      text-align: center;
      margin-bottom: 1rem;
    }

    .openListItem {
      &:hover {
        background: #0e0b8b;
        color: #ffff;
        padding: 0.2rem;
        border-radius: 0.5rem;
      }
    }
  }
}

.dashboardContainer {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  align-items: center;
  // outline: 3px solid firebrick;
  padding: 2rem 0;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);

  .dashboardMenuBar {
    display: none;
  }

  .dashboardContainerMain {
    //  outline: 3px solid firebrick;
    width: 80%;
    display: flex;
    //  gap: 6em;
    justify-content: space-between;
    align-items: center;
  }

  .dashboard-menu-top {
    // outline:  3px solid purple;
  }

  .dashboardMenu {
    list-style: none;
    display: flex;
    gap: 4rem;
    margin: auto;
    // margin-left: 15rem;
    color: #0e0b8b !important;
    font-weight: 500;
    // outline: 3px solid yellow;
    font-family: "Poppins";
    a {
      color: #0e0b8b !important;
    }
  }
  .dashboardLogo {
    //  outline: 3px solid green;

    .dashboardLogoImg {
      // display: none !important;
      margin: auto !important;
      background: #0000;
    }
  }
}

.labelFont {
  font-size: 0.9rem !important;
}

.avatarHolder {
  // width: 4.5rem;
  // height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2bab56;
  border: none;
  outline: none;
  border-radius: 50%;
  height: 3rem;
  width: 3.2rem;
  cursor: pointer;

  h2 {
    color: #ffff;
    margin: auto;
    font-weight: 600;
    font-size: 1.5rem;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}

.avatarMain {
  color: #0e0b8b;
}

.inactive {
  display: none;
}


@media screen and (max-width: 992px) {
  .dashboardContainerMain {
    //  outline: 3px solid firebrick;
    width: 85% !important;
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 600px) {
  .dashboardContainerMain {
    //  outline: 3px solid firebrick;
    width: 90% !important;

    .dashboardMenu {
      display: none;
    }
  }

  .dashboardMenuBar {
    display: block !important;
  }
}
