.openMenuPart {
  background: #ffff;
  z-index: 1000;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 1rem;
  -webkit-transition: 3s ease;
  transition: 3s ease;
}

.openMenuPart .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.openMenuPart .openMenuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  color: #0e0b8b;
  font-weight: bold;
  padding: 1rem;
  padding-bottom: 5rem;
}

.openMenuPart .openMenuList li {
  width: 80%;
  list-style: none;
  text-align: center;
  margin-bottom: 1rem;
}

.openMenuPart .openMenuList .openListItem:hover {
  background: #0e0b8b;
  color: #ffff;
  padding: .2rem;
  border-radius: .5rem;
}

.dashboardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  -webkit-box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
          box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.dashboardContainer .dashboardMenuBar {
  display: none;
}

.dashboardContainer .dashboardContainerMain {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboardContainer .dashboardMenu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  margin: auto;
  color: #0e0b8b !important;
  font-weight: 500;
  font-family: 'Poppins';
}

.dashboardContainer .dashboardMenu a {
  color: #0e0b8b !important;
}

.dashboardContainer .dashboardLogo .dashboardLogoImg {
  margin: auto !important;
  background: #0000;
}

.labelFont {
  font-size: .9rem  !important;
}

.avatarHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2BAB56;
  border: none;
  outline: none;
  border-radius: 50%;
  height: 3rem;
  width: 3.2rem;
  cursor: pointer;
}

.avatarHolder h2 {
  color: #ffff;
  margin: auto;
  font-weight: 600;
  font-size: 1.5rem;
}

.avatarHolder img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.avatarMain {
  color: #0e0b8b;
}

.inactive {
  display: none;
}

@media screen and (max-width: 1024px) {
  .dashboardContainerMain {
    width: 85% !important;
  }
}

@media screen and (max-width: 600px) {
  .dashboardContainerMain {
    width: 90% !important;
  }
  .dashboardContainerMain .dashboardMenu {
    display: none;
  }
  .dashboardMenuBar {
    display: block !important;
  }
}
/*# sourceMappingURL=dashboardNav.module.css.map */