.thoughtContainer {
  // outline: 3px solid firebrick;
  padding-top: 8rem;

  .thoughtMainpart {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80%;
    // outline: 3px solid firebrick;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .thoughtDesc {
      // outline: 3px solid salmon;
      width: 50%;
      height: fit-content;
      // margin: auto;

      h1 {
        color: #0e0b8b;
        font-weight: 600;
        font-size: 3rem;
      }

      p {
        // outline: 3px solid #0e0b8b;
        font-size: 1.1rem;
        line-height: 2.2rem;
        font-weight: 410;
        width: 80%;
      }

      .thoughtList {
        display: flex;
        flex-direction: column;
        // outline: 3px solid red;
        // gap: 1.5rem;
        margin-bottom: 2rem !important;

        .thoughtListItems {
          // outline: 3px solid magenta;
          display: flex;
          flex-direction: row;
          margin-bottom: 0.5rem !important;

          img {
            // margin: auto;
            width: 1.5rem;
            height: 1.5rem;
            align-self: center;
            // object-fit: cover;
          }
          span {
            margin-left: 1rem !important;
            // margin: auto;
            align-self: center;
          }
        }
      }

      span {
        // margin-top: 3rem;
        font-weight: 600;
        color: #0e0b8b;
        font-size: 1.1rem;

        img {
          margin-left: 1rem;
        }
      }
    }

    .thoughtImg {
      width: 50%;
      transform: scale(0.8);
      display: flex;
      flex-direction: column;

      .imageBase {
        // top: 2.5rem;
        left: 2.8rem;
        position: relative;
        width: 100%;
        object-fit: cover;
      }
      .imageMain {
        position: absolute;
        z-index: 1;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .thoughtMainpart {
    // outline: 3px solid firebrick;

    .thoughtDesc {
      h1 {
        font-size: 2rem !important;
      }

      p {
        // outline: 3px solid yellow;
        font-size: 1rem !important;
        width: 100% !important;
        line-height: 1.5rem !important;
      }

      span {
        font-size: 0.9rem !important;
      }

      .thoughtList {
        // outline: 3px solid yellow;
        gap: 1rem !important;
        margin-bottom: 1rem !important;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .thoughtContainer {
    padding-top: 2rem;

    .thoughtMainpart {
      flex-direction: column;
      width: 90%;

      .thoughtDesc {
        // outline: 3px solid salmon;
        width: 100%;
        h1 {
          font-size: 1.5rem !important;
          text-align: center;
        }

        p {
          // outline: 3px solid #0e0b8b;
          font-size: 0.9rem !important;
        }

        .thoughtList {
          .thoughtListItems {
            span {
              font-size: 0.85rem !important;
              margin-left: -1rem;
            }
          }
        }

        span {
          font-size: 0.9rem !important;
        }
      }

      .thoughtImg {
        width: 80%;
        .imageBase {
          left: 2rem;
        }
      }
    }
  }
}
