.thoughtContainer {
  padding-top: 8rem;
}

.thoughtContainer .thoughtMainpart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.thoughtContainer .thoughtMainpart .thoughtDesc {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.thoughtContainer .thoughtMainpart .thoughtDesc h1 {
  color: #0e0b8b;
  font-weight: 600;
  font-size: 3rem;
}

.thoughtContainer .thoughtMainpart .thoughtDesc p {
  font-size: 1.1rem;
  line-height: 2.2rem;
  font-weight: 410;
  width: 80%;
}

.thoughtContainer .thoughtMainpart .thoughtDesc .thoughtList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem !important;
}

.thoughtContainer .thoughtMainpart .thoughtDesc .thoughtList .thoughtListItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: .5rem !important;
}

.thoughtContainer .thoughtMainpart .thoughtDesc .thoughtList .thoughtListItems img {
  width: 1.5rem;
  height: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.thoughtContainer .thoughtMainpart .thoughtDesc .thoughtList .thoughtListItems span {
  margin-left: 1rem !important;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.thoughtContainer .thoughtMainpart .thoughtDesc span {
  font-weight: 600;
  color: #0e0b8b;
  font-size: 1.1rem;
}

.thoughtContainer .thoughtMainpart .thoughtDesc span img {
  margin-left: 1rem;
}

.thoughtContainer .thoughtMainpart .thoughtImg {
  width: 50%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thoughtContainer .thoughtMainpart .thoughtImg .imageBase {
  left: 2.8rem;
  position: relative;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.thoughtContainer .thoughtMainpart .thoughtImg .imageMain {
  position: absolute;
  z-index: 1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .thoughtMainpart .thoughtDesc h1 {
    font-size: 2rem !important;
  }
  .thoughtMainpart .thoughtDesc p {
    font-size: 1rem !important;
    width: 100% !important;
    line-height: 1.5rem !important;
  }
  .thoughtMainpart .thoughtDesc span {
    font-size: 0.9rem !important;
  }
  .thoughtMainpart .thoughtDesc .thoughtList {
    gap: 1rem !important;
    margin-bottom: 1rem !important;
  }
}

@media screen and (max-width: 600px) {
  .thoughtContainer {
    padding-top: 2rem;
  }
  .thoughtContainer .thoughtMainpart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
  .thoughtContainer .thoughtMainpart .thoughtDesc {
    width: 100%;
  }
  .thoughtContainer .thoughtMainpart .thoughtDesc h1 {
    font-size: 1.5rem !important;
    text-align: center;
  }
  .thoughtContainer .thoughtMainpart .thoughtDesc p {
    font-size: .9rem !important;
  }
  .thoughtContainer .thoughtMainpart .thoughtDesc .thoughtList .thoughtListItems span {
    font-size: .85rem !important;
    margin-left: -1rem;
  }
  .thoughtContainer .thoughtMainpart .thoughtDesc span {
    font-size: .9rem !important;
  }
  .thoughtContainer .thoughtMainpart .thoughtImg {
    width: 80%;
  }
  .thoughtContainer .thoughtMainpart .thoughtImg .imageBase {
    left: 2rem;
  }
}
/*# sourceMappingURL=Thought.module.css.map */