.storyDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .storyDetailsTop {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      aspect-ratio: 2/.75;
    }

   
    .storyDetailsSection {
      background-color: #BDB0FF;
      color: #0e0b8b;
      width: fit-content;
    
      display: flex;
      justify-content: center;
      align-items: center;
      padding: .5em 1em;
      border-radius: 3rem;

      position: absolute;
      top: 8%;
      left: 3%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);

      h2 {
        margin: auto;
        font-size: .8rem;
      }
    }
  }

  .storyDetailsBottom {
    
    display: flex;
    flex-direction: row;
    // gap: 2rem;
    // justify-content: space-between;
    align-items: center;
    // outline: 3px solid green;
    padding: 6rem 1rem;
    // padding-top: 40px;
    // padding-bottom: 100px;
    // background-color: coral;
    width: 90%;

    .storyDetailsMain {
 
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 50%;
      background-color: #ffff;


     
      // outline: 3px solid purple;


      h1 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 550;
        text-transform: capitalize;
      }
      p {
        line-height: 1.6em;
        font-size: .85rem;
        width: 90%;
        // min-width: min-content;
        // outline: 3px solid purple;
        height: 60em;
        letter-spacing: .15rem;
        overflow-y: scroll;
       
      }

    }
    .storyCommentSection {
      
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      width: 50%;
      margin-left: 2rem;
      // height: 45em;
      // padding: 1.5em;
      // background-color: green;
      // height: 1410px;
      // width: 623px;
      border-radius: 4rem;
      // background-color: #0e0b8b;
      border: 3px solid #0e0b8b;

      .storyCommentMainCover {
        // background-color: purple;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 40.2rem;
        // width: fit-content;
      }
     
     
      .storyCommentCover {
          // margin-top: -20px;
          // height: 1255px;
          // overflow-y: hidden;
          // background-color: white;
          // display: flex;
          // flex-direction: column;
          // width: 90%;
      }

      .commentActions {
        // background-color: pink;
        // width: 100px;
        // outline: 3px solid crimson;
        padding: 0 1em;
        display: flex;
        flex-direction: row;
        // gap: 1.5rem;
        align-items: center;
        // justify-content: space-between;
        align-items: center;

        span {
          margin-right: 1.1rem;
        }
        .repliesListCover {
         margin: auto;
         cursor: pointer;
        }
      }
      

      .commentContainer {
        // margin: auto;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // background-color: #ffff;
        // outline: 3px solid firebrick;
        // padding: 0 .5em;
        width: 100%;
        // padding: 10px;
        // background-color: rgb(218, 92, 92);

        .replyPart {
          background: rgba($color: #000000, $alpha: 0.1);

          .replyPartForm {
           

            .replyPartCover {
              display: flex;
              padding: .3rem;
              justify-content: space-between;

              button {
                background: #0e0b8b;
                color: #ffff;
                outline: none;
                border: none; 
              }
            }
            .replyPart1 {
              // outline: 3px solid green;
              display: flex;
              align-items: center;
              width: 80%;
              // flex-direction: column;
              gap: .5rem;

              label {
                font-weight: bold;
              }
              input {
                background: transparent;
                outline: none;
                border: 3px solid #0e0b8b;
                border-radius: 1rem;
                padding: .5rem;
                width: 100%;
                color: #000000;
              }
            }
            
            .replyClose {
            // outline: 3px solid pink;
            padding: .5rem;
            display: flex;
            justify-content: flex-end;
            }
          }
        }
      }

      .commentContainerComments {
          // background-color: black;
          padding: .5em 1em;
          p {
            font-size: .8rem;
            letter-spacing: .15rem;
            // line-height: 1.5em;
          }
      }
      .contentUmbrella{
        // outline: 3px solid chartreuse;
        // background-color: #ffff;
        // max-width: fit-content;
        // background-color: chartreuse;
        // width: 540px;
      }

      .storyCommentMain {
        padding: 2rem;
        // outline: 3px solid orangered;
        // overflow-y: scroll;
        // height: 60em;
        // margin-top: 25px;
        h1 {
          text-align: center;
          font-size: 1.5rem;
          font-weight: 550;
        }

        .commentContainerTopPart {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          // background-color: yellow;
          // width: 540px;
          // margin-top: 63px;
          // margin-bottom: 25px;

          .commentContainerTopAvatar {
            display: flex;
            flex-direction: row;
            gap: .7em;
            // justify-content: space-between;
            align-items: center;
            // background-color: chocolate;
            // width: 222px;

            .avatarContainer {
              background: #0e0b8b;
              height: 3rem;
              width: 3rem;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: .4rem;

              h2 {
                color: #ffff;
                font-size: 1.4rem;
                font-weight: 600;
                margin: auto;
              }
            }

            img {
              width: 100%;
              height: auto;
            }
            h1 {
              font-size: 1rem;

            

              span {
                font-size: .7rem;
                font-weight: lighter;
                margin-left: .5rem;
              }
            }
          }
        }
      }

      .storyCommentBottom {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3em;
        width: 100%;
        margin-top: 2em;
        // margin-left: -2.5rem !important;
        // margin-right: -2.7rem !important;
        background-color: #0e0b8b;
       
        // width: 623px;
        // height: 94px;
        border-bottom-left-radius: 3.8em;
        border-bottom-right-radius: 3.8em;

      
        .storyCommentBottomMain {
          background-color: #0e0b8b;
          // outline: 3px solid white;
          width: 100%;
          gap: 2em;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          // padding: 20px;
        }
      }

    }
  }

  .storyCommentBottomInput {
    // width: 565px;
    // height: 31px;
    display: flex;
    // align-items: center;
    // justify-content: center;
    width: 100%;
    // padding: 10px;
    color: #ffff;
    input {
      width: 100%;
      // width: 510px;
      // height: 28px;
      font-size: 1rem;
      padding: 1em;
      border: none;
      outline: none;
      background-color: #0e0b8b;
      color: #ffff;
    }

    ::placeholder {
      color: #ffff;
      opacity: 1; /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #ffff;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: #ffff;
    }
  }
}


@media screen and (max-width: 1024px)  {
  .storyDetailsSection {
    top: 10% !important;
    left:  5% !important;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .storyDetailsMain {
    h1 {
      font-size: 1.2rem !important;
     
    }
    p {
      line-height: 1.5em !important;
      font-size: .8rem !important;
    }

  }

  .commentContainerComments {
  
    padding: .5em 1em;
    p {
      font-size: .7rem !important;
    }
}

.storyCommentBottomInput {
  input {
    font-size: .85rem !important;
  }
}

}


@media screen and (max-width: 600px) {
  .storyDetailsTop {
    img {
      width: 100%;
      aspect-ratio: 2/2 !important;
    }
  }

  .storyDetailsBottom {
    flex-direction: column !important;
    // outline: 3px solid green;
    padding: 3rem .5rem !important;
    width: 90%;

    .storyDetailsMain {
 
      width: 100% !important;


     
      // outline: 3px solid purple;


      h1 {
        font-size: 1rem !important;
      }
      p {
        font-size: .7rem !important;
        width: 100% !important;
        // outline: 3px solid purple;
        height: auto !important;
      }

    }
    .storyCommentSection {
      margin-left: 0 !important;
      margin-top: 2rem;
      width: 100% !important;
      border: 3px solid #0e0b8b;

      .storyCommentMainCover {
        // outline: 3px solid purple;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 45rem;
      }
     

      .commentActions {
        // background-color: pink;
        // width: 100px;
        // outline: 3px solid crimson;
        padding: 0 1em;
        display: flex;
        flex-direction: row;
        // gap: 1.5rem;
        align-items: center;
        // justify-content: space-between;
        align-items: center;

        span {
          font-size: .7rem !important;
        }
        .repliesListCover {
        font-size: .7rem !important;
         margin: auto;
         cursor: pointer;
        }
      }
      

      .commentContainer {
      
        width: 100%;
        .replyPart {
          background: rgba($color: #000000, $alpha: 0.1);

          .replyPartForm {
           

            .replyPartCover {
              display: flex;
              padding: .3rem;
              justify-content: space-between;

              button {
                background: #0e0b8b;
                color: #ffff;
                outline: none;
                border: none; 
              }
            }
            .replyPart1 {
              // outline: 3px solid green;
              display: flex;
              align-items: center;
              width: 80%;
              // flex-direction: column;
              gap: .5rem;

              label {
                font-weight: bold;
              }
              input {
                background: transparent;
                outline: none;
                border: 3px solid #0e0b8b;
                border-radius: 1rem;
                padding: .5rem;
                width: 100%;
                color: #000000;
              }
            }
            
            .replyClose {
            // outline: 3px solid pink;
            padding: .5rem;
            display: flex;
            justify-content: flex-end;
            }
          }
        }
      }

      .commentContainerComments {
        // outline: 3px solid crimson;
          p {
            font-size: .7rem !important;
            letter-spacing: .1rem !important;
          }
      }

      .storyCommentMain {
        padding: .5rem !important;
        // outline: 3px solid orangered;
        h1 {
          font-size: 1.2rem !important;
          margin-top: .5rem;
        }

        .commentContainerTopPart {

          .commentContainerTopAvatar {
           
            gap: .3rem !important;
            // background-color: chocolate;
           

            .avatarContainer {
              height: 2.5rem !important;
              width: 2.5rem !important;
            

              h2 {
                font-size: 1.2rem !important;
              }
            }

            img {
              width: 100%;
              height: auto;
            }
            h1 {
              // background-color: chocolate;
              font-size: .85rem !important;

              span {
                font-size: .5rem !important;
              }
            }
          }
        }
      }

      .storyCommentBottom {
        padding: 2rem !important;
        margin-top: .5rem !important;

      
        .storyCommentBottomMain {
       

          .storyCommentBottomInput {
      
            input {
              font-size: .8rem !important;
              padding: .2rem !important;
            }
          }
        }
      }

    }
  }
}